<div class="container">

    <img fxFlex
         src="./assets/forecasts-desktop.gif"
         src.xs="./assets/main-mobile.gif"
         src.sm="./assets/main-mobile.gif"
         ngClass="desktop"
         ngClass.xs="mobile"
         ngClass.sm="mobile"
         alt="weather-central main image"
         data-test-id="main-image">

    <div ngClass="desktop-container"
         ngClass.xs="mobile-container"
         ngClass.sm="mobile-container"
         fxFlex
         fxLayoutAlign="space-evenly center"
         fxLayoutGap.sm="2%"
         fxLayoutGap.xs="2%"
         fxLayoutGap.md="4%"
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayout.md="column"
         @enter-item>

        <ng-container *ngFor="let city of (cityGroup$ | async)?.list">
            <app-current-weather-item [item]="city"
                                      (click)="goToItemView(city.id)"
                                      data-test-id="weather-item-card">
            </app-current-weather-item>
        </ng-container>

    </div>

</div>