<div class="container">

    <img fxFlex
         src="./assets/forecasts-mountain-desktop.gif"
         src.xs="./assets/main-mobile.gif"
         src.sm="./assets/main-mobile.gif"
         ngClass="desktop"
         ngClass.xs="mobile"
         ngClass.sm="mobile"
         alt="weather-central main image"
         data-test-id="main-image">

    <div ngClass="desktop-container"
         ngClass.xs="mobile-container"
         ngClass.sm="mobile-container"
         fxFlex
         fxLayoutAlign="space-evenly center"
         fxLayoutGap.sm="2%"
         fxLayoutGap.xs="2%"
         fxLayoutGap.md="4%"
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column"
         fxLayout.md="column"
         @enter-item>

        <ng-container *ngFor="let city of (selectedCity$ | async)">
            <app-current-weather-item [item]="city"
                                      data-test-id="weather-item-card">
            </app-current-weather-item>
        </ng-container>


        <mat-card fxFlex="55"
                  fxLayout="column">
            <h1> Five Day Forecast </h1>

            <div fxLayout="row"
                 fxLayoutAlign="space-around center">
                <h3 fxFlex="16.6">
                    Time
                </h3>
                <h3 fxFlex="16.6">
                    Description
                </h3>
                <h3 fxFlex="16.6"></h3>
                <h3 fxFlex="16.6">
                    Wind
                </h3>
                <h3 fxFlex="16.6">
                    Temp
                </h3>
                <h3 fxFlex="16.6">
                    Min
                </h3>
                <h3 fxFlex="16.6">
                    Max
                </h3>
            </div>
            <hr>
            <cdk-virtual-scroll-viewport itemSize="60"
                                         fxFlex>
                <div *cdkVirtualFor="let item of (selectedCityForecast$ | async)?.list"
                     fxLayoutAlign="space-around center"
                     class="virtual-scroll-row"
                     data-test-id="selected-item-forecast-row">
                    <div fxFlex="16.6">
                        <small>{{ (item.dt_txt | date:'fullDate').split(',')[0] }}
                            {{ item.dt_txt | date:'shortTime' }}</small>
                    </div>
                    <div fxFlex="16.6">
                        <small> {{ item.weather[0].description | titlecase }} </small>
                    </div>
                    <div fxFlex="16.6">
                        <img height="45"
                             width="45"
                             alt="Condition img"
                             src="http://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png">
                    </div>
                    <span fxFlex="16.6">
                        {{ item.wind.speed }} {{ item.wind.deg | windDIrectionPipe }}
                    </span>
                    <span fxFlex="16.6">
                        {{ item.main.temp }}
                    </span>
                    <span fxFlex="16.6">
                        {{ item.main.temp_min }}
                    </span>
                    <span fxFlex="16.6">
                        {{ item.main.temp_max }}
                    </span>
                </div>
            </cdk-virtual-scroll-viewport>
        </mat-card>
    </div>

</div>