<div class="ticker-wrap sticky">
    <div class="ticker"
         fxFlex>
        <!-- <div *ngFor="let item of (cityGroup$ | async)?.list"
                 class="ticker__item">
                {{ item.name }}: {{ item.weather.description | titlecase }}
            </div>  -->
        <div class="ticker__item">weather ticker.....todo 21/09......</div>
        <div class="ticker__item">weather ticker.....todo 21/09......</div>
        <div class="ticker__item">weather ticker.....todo 21/09......</div>
        <div class="ticker__item">weather ticker......todo 21/09...... </div>
    </div>
</div>